* {  font-family: Arial; }

body { background-color: #eee; font-size: 12px; }

/** VERSION 1.12
* This is a CSS Reddit theme for /r/RevueStarlight designed by
* /u/LoveArrowShooto. 
**/

/* CHANGE SUBREDDIT HEADER HERE */

#header {
    background-image: url(%%desktop-starry-sky%%);
	background-color: #160203;
	background-size: cover;
	background-repeat: no-repeat;
    box-shadow: 1px 1px 4px #898989;
	font-weight: normal;
	height: 300px;
	width: 100%;
	border: none;
}

/* CHANGE ANNOUNCEMENT MESSAGE HERE */

body > .content::before {
    content: "Welcome to /r/RevueStarlight. Please don't forget to FLAIR your post.";
	background-repeat: no-repeat;
	bottom: 0px;
	border: none;
	color: #3c3c3c;
	display: block;
	font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.8px;
	margin-bottom: 0px !important;
	padding: 0px 0px 10px 0px;
	text-align: center;
	width: 100%;
} 

/* CUSTOMIZE SUBREDDIT CONTENT */

.thumbnail.self {
    background-image: url(%%kirin%%);
    background-position: -65px -50px;
    background-repeat: no-repeat;
    background-size: 185%;
    height: 58px;
}

.content { background-color: white; margin: 10px 315px 0px 10px; padding: 10px 0px 0px 0px; }

.commentarea .thing { background-color: white; margin-bottom: 1px; padding: 13px; }

.comment .author { color: #C0392B; font-weight: bold; font-size: 12px;  }

.comment .md { color: black; margin-top: 5px; margin-bottom: 5px; }

.morelink { background-color: none; background-image: none; }

.morelink:hover, .mlh { border-color: none; background-image: none;
}

#sr-header-area {
    background-color: white;
    white-space: nowrap;
    border-bottom: 0px solid gray;
    font-size: 10px;
    line-height: 18px;
    box-shadow: 0px 0px 5px black;
}

.link {
    background-color: white;
    box-shadow: 0 1px 5px 0 #dbdbdb;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 0px;
    font-size: 10px;

}

.stickied { /* border-bottom: 2px solid #acf8cc; */ }

.thing, .title { /* background-image: url(%%content-transparent-bg%%); */ }

.link .title { font-size: large; font-weight: normal; margin-bottom: 1px; }

.link .title:visited { color: #95a5a6; }

.link .usertext-body .md { border: 1px solid #e0e0e0; }

.entry .buttons li a {
    color: #888;
    font-weight: normal;
    padding: 0 1px;
}


.thing .title {
    outline: none;
    margin-right: .4em;
    padding: 0px;
    overflow: hidden;
    unicode-bidi: isolate;
    color: #4b4b4b;

}

.thing.stickied.link a.title { color: #27ae60; }

a {
  text-decoration: none;
  font-weight: normal;
  color: #369;

}

.roundfield {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

}

.infobar { background-color: transparent; border: none; }


.morelink { border: none; }

.morelink a {
  /* background-image: url(%%submit-btn%%); */
  box-shadow: 0px 2px 3px #c8c8c8;
  color: white;
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
  text-transform: uppercase;
  width: 90%;
  background-color: #C0392B;
  letter-spacing: 0.2px;
  border-radius: 15px;
}

.tagline, .search-result-meta {
    color: #888;
    font-size: 12px;
    padding: 5px;
}

.tagline .stickied-tagline, .search-result-meta .stickied-tagline {
    color: #FFF;
    background-color: #27ae60;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.link .flat-list {
    display: block;
    padding: 1px 0;
    text-transform: uppercase;
}
  
.commentarea .menuarea {
    border: none;
    margin: 0 310px 10px 10px;
    padding: 0;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
}

textarea {
    background-color: #FCFBF6;
    color: #161616;
    border: 1px solid #CCC;
}


/* CUSTOMIZE SUBREDDIT DESCRIPTION HERE */

.titlebox .usertext .md > h3 {
	background-color: #C0392B;
	color: white;
	margin-left: -10px;
	padding: 5px 10px;
    text-align: center;
	width: 280px;
}

.titlebox h1 {
	font-family: -apple-system,BlinkMacSystemFont,"Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: center;
}

.titlebox form.toggle, .leavemoderator {
    margin: 0;
    padding: 5px 0px;
    font-size: 10px;
    color: gray;
    background: #ffffff none no-repeat scroll center left;
    text-transform: uppercase;
}

.pagename a {
	background-image: url(%%revuestarlight-en-logo%%);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 235px;
    width: 395px;
    left: 50px;
    right: 0px;
	bottom: 0;
	display: block;
	font-size: 0px;
    position: absolute;
    
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;
}

/* CUSTOMIZE HEADER HERE */

#header-bottom-left .default-header {
	visibility: hidden;
}

#sr-header-area .width-clip {
    font-size: 10px;
    width: 95%;
    margin-left: 15px;
    text-transform: initial;
}

#sr-header-area .drop-choices.srdrop {
    margin-top: 0;
    margin-left: 5px;
    background-color: #ffffffe6;
}

#sr-header-area .dropdown.srdrop {
    float: left;
    padding-left: 25px;
}

#sr-more-link {
    color: black;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px 0 15px;
    padding-right: 5px;
    font-weight: bold;
    padding-right: 25px;
}

#header .drop-choices {
    padding: 5px 5px 5px 20px;
}

.drop-choices a.choice:hover {
	background-color: #bdc3c7;
}

.srdrop .choice.bottom-option {
	border-top: 1px solid #c0c0c0;
	font-weight: bold;
}

#sr-header-area .width-clip {
	font-size: 10px;
}

#header .drop-choices a.choice {
	padding: 2px 3px 5px 3px;
}

#header a {
	color: #161616;
}

#header-bottom-right {
	position: absolute;
	background-color: white;
	padding: 10px;
	border-top-left-radius: 0px;

}

#header-bottom-right .user, #header-bottom-right .user .userkarma, #header-bottom-right a {
    color: #FFF;
    text-transform: uppercase;
}

#header-bottom-right {
	background-color: transparent;
	bottom: 0px;
	font-size: 10px;
	font-weight: bold;
	color: #c0392b;
	text-transform: uppercase;

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;

}

#header-bottom-left {
	/*background-color: rgba(25, 25, 25,.9);*/
	margin: 252px 0px 0px 0px;
	opacity: 0.8;
	padding-bottom: 20px; 
	font-size: 10px;
}

#header-img {
	position: absolute;
	bottom: 5px;
	visibility: hidden;
}


#header .tabmenu a {
	background-color: transparent;
	color: white;
	padding: 7px 5px 4px 5px;
	text-transform: uppercase;
	font-size: 12px;

}

#header .tabmenu {
	background-color: transparent;
	font-size: 14px;
	position: absolute;
    
}

/* CUSTOMIZE TAB MENUS HERE */

.tabmenu {
	margin-top: -2px;
	font-weight: bold;

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;

}

.tabmenu li a {
	display: inline-block;
	text-decoration: none;
}


.tabmenu li a::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #C0392B;
	transition: width .4s;
 
}

.tabmenu li a:hover::after {
	width: 100%;
	transition: width .4s;
}


.tabmenu li.selected a { 
    border: none;
    border-bottom: 4px solid white;
    font-weight: bold;
    color: black;

}

/* CUSTOMIZE SUBMIT PAGE HERE */

.submit.content {
    width: 520px;
    margin: auto;
}

.formtabs-content {
    border-top: 4px solid #c0392b;
}

.tabmenu.formtab a {
    border: none !important;
    border-bottom: none;
    font-size: 20px !important;
    font-weight: normal;
    color: black;
    outline: none;
    margin-left: -10px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: bottom;
    width: 47.3%;
}

.tabmenu.formtab .selected a {
    background-color: #c0392b;
}

.tabmenu li a {
  background-color: #ecf0f1;

}

/* CUSTOMIZE SIDE BOX HERE */

#search input[type="text"]{
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	margin-left: 14px;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
	width: 91%;
	-moz-box-sizing: border-box;
}

#searchexpando, #moresearchinfo {
	margin-left: 10px;
	white-space: normal;
}
.side {
	margin: 10px 5px 0px 5px; 
	box-shadow: 1px 1px 15px #dbdbdb;
}

.sidecontentbox .title h1 {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: bold;
	margin: 10px;
}

.sidecontentbox.collapsible .title {
	cursor: pointer;
	margin-left: 12px;
}

.sidecontentbox .content {
	border: none;
	margin: 0px 10px 0px 6px;
	padding: 5px;
	font-size: small;
	list-style: none;
}

.sidecontentbox a.helplink {
    background-color: #C0392B;
    border-radius: 15px;
    box-shadow: 0px 2px 3px #c8c8c8;
    color: white;
    float: right;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.2px;
    margin-top: -3px;
    margin-right: 14px;
    margin-bottom: 16px;
    margin-left: 15px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 86%;
}

.sidebox .spacer { display: none; }

/* ADJUST PADDING FOR MODERATOR NAMES */

.helplink ~ .content li { margin: 5px 0; }

.titlebox { font-size: larger; margin-left: 10px; margin-right: 10px; }

.md-container-small .md .-text, .side .md .-text, .md-container-small .md p, .side .md p, .md-container-small .md pre > code, .side .md pre > code, .md-container-small .md th, .side .md th, .md-container-small .md td, .side .md td, .md-container-small .md li, .side .md li {
    font-size: 1em;
    line-height: 1.50em;
    margin-left: 2px;
}

/** EDIT FLAIRS HERE **/

.flairselector .selected, .flairselector.active li { padding: 5px; }

.flairselector.drop-choices.active { border: none; display: block; }

.flairselector {
    border: none;
    box-shadow: 0px 0px 25px #ccc;
    font-size: x-small;
    position: absolute;
    width: 400px;
}

.flairselector h2 {
    background: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: black;
    font-size: 14px;
}

.flairselector form {
    border-top: solid 1px #ececec;
    clear: both;
    display: block;
    padding-top: 5px;
    text-align: center;
}


/** USER FLAIRS **/

.flair-userflair-claudine {
    background: url(%%RevueStarlight-Userflairs-v2%%);
    background-position: -14px 736px;
    /* border: 2px solid #fe9952 !important; */
    border-radius: 50%;
	width: 39px;
	height: 41px;
}

/** LINK FLAIRS **/

.flair, .linkflairlabel {
	border: none;
	vertical-align: middle;
}

.linkflair-LinkFlair-livestream .linkflairlabel {
    background-color: #d63031;
	color: #fff;
    font-weight: bold;
	/* border-radius: 15px; */
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

/* BUTTONS */


button, html input[type="button"], input[type="reset"], input[type="submit"] {
/* background-image: url(%%submit-btn%%); */ }

.usertext-buttons .save{
    box-shadow: 0px 2px 3px #c8c8c8;
    margin: 5px 5px 10px 0;
    border: none;
    background-color: #C0392B;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;

}

.usertext-buttons .cancel{
    box-shadow: 1px 1px 3px #c8c8c8;
    margin: 5px 5px 10px 0;
    border: none;
    background-color: #ECE9E0;
    color: black;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;

}

/* Subscribe and Unsubscribe buttons */

/* Upvote AND Downvote buttons */

/* .thing .midcol { width: 70px !important; } */

.arrow.up {
	background-image: url(%%upvote-not-selected%%);
	/* background-image: url(%%upvote-animation%%);
        width: 45px;
        height: 26px;   */
	background-position: 0px 0px; 

}

@-webkit-keyframes arrow {
  from {
    background-position: 0px -29px;
  }
  to {
    background-position: 0px -377px;
  }
}

.arrow.upmod {
	background-image: url(%%upvote-selected%%);
	background-position: 0px 0px; 

	/* background-image: url(%%upvote-animation%%);
        width: 44px;
        height: 25px;
        animation: arrow 0.4s steps(14);
        animation-fill-mode: forwards; */
}

.arrow.down {

	background-image: url(%%downvote-not-selected%%);
	background-position: 0px 0px; 

}

.arrow.down:hover:before {
    content: "Please don't downvote because you disagree";
    background-color: #2d3436;
    color: #FFF;
    border: 1px solid #dfe6e9;
    box-shadow: 1px 1px 25px #dfe6e9;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    position: absolute;
    display: block;
    z-index: 1000;
    width: 102px;
    padding: 15px;
    margin-left: 5px;
    margin-top: 5px
}

.arrow.downmod {

	background-image: url(%%downvote-selected%%);
	background-position: 0px 0px; 

}

/* CUSTOMIZE FOOTER HERE */

.footer-parent {
	padding-top: 650px;
	background-image: url(%%CastCharacters--bg%%);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center 0px;
}


.footer {
    color: gray;
    padding: 15px;
    margin: 15px auto;
    border: 1px solid #F0F0F0;
    display: flex;
    display: -webkit-flex;
    max-width: 600px;
    background-color: #9e9e9e1a;
    font-size: 13px;
    text-transform: capitalize;
}

.flat-vert.title {
    color: #3f3f3f;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;

}


/* SHOW/HIDE ITEMS */

.link .rank {
	visibility: hidden;

}

.morelink .nub {
	height: 0px;
}

.nub { display: none; }

.sidebox.create .spacer a {
	/** background-image: url(sprite-reddit.bTLvdEETokI.png); **/
	background-position: -76px -1043px;
	background-repeat: no-repeat;
	visibility: hidden;
}

.sidebox .subtitle {
	margin-left: 10px;
	color: dimgray;
	font-size: 110%;
	visibility: hidden;
}

.sidecontentbox .collapse-button {
    visibility: hidden;
}

#suggested-reddits {
    position: relative;
    margin-top: 5px;
    font-size: small;
    display: none;
}

/* CHANGE SPOILER TAG CODE */

.spoiler-stamp {
    background-color: #c82a2a;
    color: #fff;
}

.linkflair-spoiler a.title:before {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    content: "Spoiler: ";
}
 
.linkflair-spoiler a.title {
   color: transparent!important;
   text-shadow: 0 0 7px teal!important;
}
.linkflair-spoiler a.title:visited {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}
.linkflair-spoiler a.title:hover {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}
 
.linkflair-spoiler:hover {
    text-shadow: 0 0 0px teal;
    visibility: visible!important;
}
 
.linkflair-spoiler .thumbnail img { display: none }
 
.linkflair-spoiler .linkflairlabel {
    background: transparent;
    border-color: teal;
    color: teal;
    text-transform: uppercase;
}
 
.linkflair-spoiler .thumbnail {
    background-image: url(%%test-image%%);
    background-position: 0px 0px;
    width: 70px;
    height: 70px;
}
 
a[href|="#spoiler"],a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"] {
    text-shadow: 0 0 7px teal;
    color: transparent!important;
    cursor: text;
}
 
a[href|="#spoiler"]:before,a[href|="#spoiler"]:before,body:lang(bc) a[href|="#spoiler"]:before,body:lang(bc) a[href|="#spoiler"]:before {
    text-shadow: 0 0 0px teal;
    color: teal;
    content: "";
    cursor: text;
}
 
a:hover[href|="#spoiler"],a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"] {
    text-shadow: 0 0 0px teal;
    color: teal;
    cursor: text;
}


/* REPLACE "READERS" WITH CUSTOM TEXT */
.subscribers .word {
	display: none;
}  
.subscribers .number::after {
	content: " students at Seisho Music Academy";
}

.subscribers {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    padding-right: 50px;
}

/* REPLACE "USERS HERE NOW" WITH CUSTOM TEXT */

.users-online .word {
	display: none;
}  
.users-online .number::after {
	content: " performers on stage";
}

.users-online {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px;
    font-size: 13px;
}


/* REPLACE "SUBREDDIT NAME" WITH CUSTOM TEXT*/
.side .redditname { font-size:0; }

.side .redditname:after { font-size:18px; content:"Shoujo☆Kageki Revue Starlight"; }

.linkinfo {
    padding: 5px;
    border: none;
    background-color: white;
    border: none;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    border-radius: 0px;
    margin: 0px 10px 1px 10px;
}

.panestack-title {
    margin: 10px 310px 0px 10px;
    padding-bottom: 3px;
    border: none;
}

.panestack-title .title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
}

.dropdown.srdrop .selected {
    background: none no-repeat scroll center right;
    background-image: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 0px;
    margin-left: -5px;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 5px;
    vertical-align: bottom;
}

.dropdown.srdrop .selected:before {
    background: none no-repeat scroll center right;
    background-image: none;
    color: black;
    content: "☰";
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-left: -5px;
    margin-right: 10px;
    padding-right: 0px;
    padding-left: 5px;
    vertical-align: bottom;
}

/* CUSTOMIZE SIDE LINKS HERE */

/* .side a[href="https://discordapp.com/invite/dZ93wsW"] {
    display: inline-block;
    height: 80px; 
    width: 100%;
    background: url(%%RevueStarlight-Discord%%);
    background-repeat: no-repeat;
    background-size:contain;
    color: transparent;
} */

.nav-buttons {
    padding: 8px;
    padding-top: 8px;
}

.nextprev, .next-suggestions {
    color: gray;
    font-size: small;
    margin-top: 10px;
    text-transform: uppercase;
}

.nextprev a, .next-suggestions a {
    padding: 3px 9px;
    font-size: 12px;
    border: 1px solid #444;
    border-radius: 35px;
    color: #575656;
}

/** Adjust CSS animations here **/

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.md a {
    color: #CA424F;
}

a.author {
    margin-right: 0.5em;
    color: #575757;
}

/** Moderator page and backend **/

.linefield {
    width: 514px;
    padding: 10px 20px;
    font-size: large;
    background-color: #FFF;
    margin-bottom: 10px;
}

.linefield .title {
    text-transform: capitalize;
}

.linefield.mobile {
    width: 512px;
    background-color: #FFF;
    border: none;
}

:lang(nm) ul.image-preview-list .description {
    color: white;
}

:lang(nm) ul.image-preview-list .description pre {
    display: inline;
    padding: 5px;
    color: #fff;
    background-color: transparent;
}


/** TOGGLE BETWEEN LIGHT AND DARK MODE **/

.side a[href="https://reddit.com/r/RevueStarlight"] { display: none;
}

:lang(nm) .side a[href="https://nm.reddit.com/r/RevueStarlight"] { display: none;
}

:lang(nm) .side a[href="https://reddit.com/r/RevueStarlight"] {display: inline;
}

/** CSS CONTAINING DARK MODE **/

:lang(nm) .thumbnail.self {
    background-image: url(%%kirin%%);
    background-position: 0px 4px;
    background-repeat: no-repeat;
    background-size: 185%;
    height: 58px;
}

:lang(nm) body {
  background: url(%%background%%); 
  background-color: #eee;
  font-size: 12px;

}

:lang(nm) #header {
  /* background-image: url(%%Header-photo-hikari-karen%%); */
  box-shadow: 1px 1px 4px #000;
}

:lang(nm) #sr-header-area { background-color: #121212; }

:lang(nm) #sr-more-link { background-color: #121212; }

:lang(nm) #sr-header-area .drop-choices.srdrop { background-color: #121212; }

:lang(nm) .dropdown.srdrop .selected { color: #bababa; }

:lang(nm) .dropdown.srdrop .selected:before { color: #bababa; }

:lang(nm) .usertext-edit textarea { background-color: #262626; border: none; color: #bababa; }

:lang(nm) #header a { color: #bababa; }

:lang(nm) .morelink a { box-shadow: 0px 2px 3px #000; }

:lang(nm) .side .md table * { border-color: #343434; }

:lang(nm) .sidecontentbox a.helplink { box-shadow: 0px 2px 3px #000; }

:lang(nm) body > .content::before { color: white; } 

:lang(nm) .content { background-color: #161616; }

:lang(nm) .side { background-color: #202020; box-shadow: none; color: #bababa; }

:lang(nm) .sidecontentbox .title h1 { color: #bababa; }

:lang(nm) .link { background-color: #202020; box-shadow: none; color: white; }

:lang(nm) .side .md { font-size: 0.9230769230769231em; color: #bababa; }

:lang(nm) .md a { color: #d4920c; text-decoration: none;
}

:lang(nm) .tagline a, .search-result-meta a { color: #d4920c; text-decoration: none; }


:lang(nm) .morelink { background: none;
}

:lang(nm) .commentarea .md { margin-top: 5px; margin-bottom: 5px; color: white;
}

:lang(nm) .commentarea .thing { background-color: #161616; margin-bottom: 1px; padding: 13px;
}

:lang(nm) .flairselector { background-color: #323232; box-shadow: 0px 0px 25px #0e0e0e;
}

:lang(nm) .roundfield { background-color: #323232; box-shadow: 0px 0px 5px #09090980;
}

